<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSMicrophoneUsageDescription</key>
    <string>Esta aplicación necesita acceso al micrófono para analizar tu voz.</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Esta aplicación necesita tu ubicación para nombrar las grabaciones según tu ubicación actual.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict/>
	</array>
</dict>
</plist>
